/*GENERALES*/s 
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin: 0;
    font-size: 28px;
}

.cuerpo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap; /* Agrega esta propiedad para que los productos se muestren en una fila horizontal */
}

.producto {
    text-align: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: inline-block;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    width: 30%; /* Ajusta el ancho de los productos según tus necesidades */
}

.producto:hover {
    transform: scale(1.05);
}

.producto img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 10px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
}

button:hover {
    background-color: #5d994e;
}

#carrito {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 100%; /* Ajusta el ancho del carrito según tus necesidades */
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    padding: 10px;
    font-size: 16px;
    border-bottom: 1px solid #ccc;
}

@media (max-width: 1240px) {
    h1 {
        font-size: 24px;
    }

    .producto {
        width: 100%;
    }

    #carrito {
        width: 90%;
    }
}

@media (max-width: 769px) {
    .producto {
        width: 45%;
    }

    #carrito {
        width: 60%;
    }
}