/*GENERALES*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: beige;
}
body li{
    list-style: none;
    margin:10px;
}

body li a{
    text-decoration: none;
    color:black;
}
/*CSS DEL HOME*/
header {
    background-color: lightgrey;
}

header nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.navegacion-desk ul{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
/*MAIN DE INDEX*/
.principal{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.juegoAdivinanza {
    margin:20px auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.juegoAdivinanza h1{
    padding: 5px;
}

.juegoAdivinanza p{
    padding: 5px;
}

.juegoAdivinanza button{
    margin: 5px;
}

h1 {
    color: #333;
  }

  input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  button {
    padding: 10px 20px;
    background-color: #0074d9;
    color: white;
    border: none;
    cursor: pointer;
    margin: 10px;
  }

  button:hover {
    background-color: #0056b3;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    background-color: #fff;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #aaa;
  }